
.home {
  padding: 0;
  margin: 0;
  color: #F8B7B4;
  font-family: 'Education-Pencil';
  text-align: center;
  background-image: url("/marble.png")
}


#resumeButton {
  background-color: #606060;
  color: #F8B7B4;
  margin-top: 5%;
  border-color: #F8B7B4;
}

#resumeButton:hover {
  background-color: #F8B7B4;
  color: #606060;
}

.title {
  margin-top: 10%;
  color:	#606060
}

.skillsTitle {
  margin-top: 5%;
  color: 	#606060;
}

.introTwo {
  margin-top: 5%;
  font-size: 24px;
  color: #F8B7B4;
}


#about {
  text-align: center;
}

.skillsImages {
  width: 50px;
  height: 50px;
}

#profilePhoto {
  width: 500px;
  height: 600px;
  text-align: right;
}



.skillsTwo {
  text-align: center;
  margin-bottom: 10%;
  position: inline-block;
}

#skillTitle {
  margin-top: 5%;
  text-align: center;
}

.projectTitles {
  color: #F8B7B4;
  text-align: center;
  margin-top: 5%;
}

.projectDescription {
  color: #606060;

}


.appPic {
  width: 400px;
  height: 200px;
  margin: 10px;
}

