
.home {
  padding: 0;
  margin: 0;
  color: #F8B7B4;
  font-family: 'Education-Pencil';
  text-align: center;
}


#resumeButton {
  background-color: #F8B7B4;
  color: white;
  margin-top: 5%;
}

.title {
  margin-top: 10%;
  color: #F8B7B4;
}

.introTwo {
  margin-top: 5%;
  font-size: 3vh;
  color: #d7d7d7;
}


#about {
  text-align: center;
}

.skillsImages {
  width: 50px;
  height: 50px;
}

#profilePhoto {
  width: 500px;
  height: 600px;
  text-align: right;
}

.skills {
  text-align: center;
}

.skillsTwo {
  text-align: center;
  margin-bottom: 10%;
}

#skillTitle {
  margin-top: 5%;
  text-align: center;
}

.projectTitles {
  color: #F8B7B4;
  text-align: center;
  margin-top: 5%;
}

.projectDescription {
  color: #d7d7d7;

}


.appPic {
  width: 400px;
  height: 200px;
  margin: 10px;
}
